.imageScale {
  transition: all 1s;
  transform: rotate(360deg);
}
.paginationButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.marginX {
  margin-right: 10px;
}
.marginY {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contWidth {
  width: 90%;
}
